<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <! -- link rel="shortcut icon" href="../../docs-assets/ico/favicon.png" -->

    <title>Tuesday</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/custom/arm.css" rel="stylesheet">
  </head>

  <body>
    <div id="wrap">
      <div class="container">
        <div class="page-header">
          <h1>Tuesday <small>a web controller of Robotic Edge Arm</small></h1>
        </div>
        {% for message in get_flashed_messages() %}
          <div class='alert alert-info' role="alert">{{ message }}</div>
        {% endfor %}
        {% if power_on %}
          {% if user_in_use %}
            <h4 >
              {% if not current_user.is_active() %}
              <span class='text-success'>{{ user_in_use.name }}-san</span> is using. Please wait...
              {% else %}<span class='text-success'>You</span> are using.
              {% endif %}
            </h4>
            <div class="progress">
              <div class="progress-bar progress-bar-success" id='counter' role="progressbar" aria-valuenow="{{ user_ttl }} " aria-valuemin="0" aria-valuemax="{{ SESSION_EXPIRES }}" style="width: {{ user_ttl_percent }}%">remain {{ user_ttl }}s</div>
            </div>
          {% else %}
            <div class='panel panel-default'>
              <form role="form" action='{{ url_for('login') }}' method='POST'>
                {{ login_form.csrf_token }}
                <div class="input-group">
                  <input type="text" class="form-control" id='name' name='name' placeholder="Enter a Name to start" aria-describedby="basic-addon1">
                  <span class="input-group-btn"><button class="btn btn-default" type="submit">Submit</button></span>
                </div>
              </form>
            </div>
          {% endif %}
        {% else %}
          <div class='alert alert-warning' role='alert'>Device is Power Off.</div>
        {% endif %}

        <div class="row">
        {% for part_id in part_ids %}
            {% include 'parts/part_panel.html' %}
        {% endfor %}
        </div>

        <div id="footer">
          <div class="container">
            <p class="text-muted">version 0.1 by <a href="https://github.com/mapler">mapler</a></p>
          </div>
        </div>
    </div>
  </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/arm.js"></script>
  </body>
</html>

