<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
                <span class="arm_status label label-default" style="font-size: large">{{ part_id|part_name }}</span>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-default btnDown" data-part-id="{{ part_id }}" data-duration="{{ BASE_DURATION }}" data-action="decr">
                {% if part_id|type_is_switch %}
                <span class="glyphicon glyphicon-resize-small"></span> Close
                {% elif part_id|type_is_swing_v %}
                <span class="glyphicon glyphicon-circle-arrow-down"></span> Down
                {% elif part_id|type_is_swing_h %}
                <span class="glyphicon glyphicon-circle-arrow-left"></span> Left
                {% endif %}
            </button>
            <button type="button" class="btn btn-default btnUp" data-part-id="{{ part_id }}" data-duration="{{ BASE_DURATION }}" data-action="incr">
                {% if part_id|type_is_switch %}
                <span class="glyphicon glyphicon-resize-full"></span> Open
                {% elif part_id|type_is_swing_v %}
                <span class="glyphicon glyphicon-circle-arrow-up"></span> Up
                {% elif part_id|type_is_swing_h %}
                <span class="glyphicon glyphicon-circle-arrow-right"></span> Right
                {% endif %}
            </button>
        </div>
    </div>
</div>
